<% layout('layout') %>
<body>
    <div id="wrapper">
        <div id="header">
			<a href="/room_list"><span>3姑6婆</span></a>
                    <%
                    if(userid != null){%>
                    <button id="login" onclick="javascript:location.href='/logout'"><%=userid%></button>
                    <%}else{%>
                    	<script>location.href='/'</script>
                    <button onclick="javascript:location.href='/login'"  id="login" >登入</button>
                    <%}%>
		</div>
        <div id="chatroom_container">
                <div id="chatroom_main">
                        <div id="write_message_wrapper">
							<div id="show_message_layout">
								<div id="list">
									<div class="effect_row row">
										<div class="col-md-3 effect_type type_selected">
											<img src="http://140.127.220.149/js_final/image/IE_0.jpg" data-src="/image/IE_0.jpg"/>
										</div>
										<div class="col-md-3 effect_type">
											<img src="http://140.127.220.149/js_final/image/IE_1.jpg" data-src="image/IE_1.jpg"/>
										</div>
										<div class="col-md-3 effect_type">
											<img src="http://140.127.220.149/js_final/image/IE_2.jpg" data-src="image/IE_2.jpg"/>
										</div>
										<div class="col-md-3 effect_type">
											<img src="http://140.127.220.149/js_final/image/IE_3.png" data-src="image/IE_3.jpg"/>
										</div>
										<div class="col-md-3 effect_type">
											<img src="http://140.127.220.149/js_final/image/IE_4.jpg" data-src="image/IE_4.jpg"/>
										</div>
										<div class="col-md-3 effect_type">
											<img src="http://140.127.220.149/js_final/image/IE_5.jpg" data-src="image/IE_5.jpg"/>
										</div>
										<div class="col-md-3 effect_type">
											<img src="http://140.127.220.149/js_final/image/IE_6.jpg" data-src="image/IE_6.jpg"/>
										</div>
										<div class="col-md-3 effect_type">
											<img src="http://140.127.220.149/js_final/image/IE_7.jpg" data-src="image/IE_7.jpg"/>
										</div>
										<div class="col-md-3 effect_type">
											<img src="http://140.127.220.149/js_final/image/IE_8.jpg" data-src="image/IE_8.jpg"/>
										</div>
										<div class="col-md-3 effect_type">
											<img src="http://140.127.220.149/js_final/image/IE_9.jpg" data-src="image/IE_9.jpg"/>
										</div>
										<div class="col-md-3 effect_type">
											<img src="http://140.127.220.149/js_final/image/IE_10.jpg" data-src="image/IE_10.jpg"/>
										</div>
										<div class="col-md-3 effect_type">
											<img src="http://140.127.220.149/js_final/image/IE_11.jpg" data-src="image/IE_11.jpg"/>
										</div>
										<div class="col-md-3 effect_type">
											<img src="http://140.127.220.149/js_final/image/IE_12.jpg" data-src="image/IE_12.jpg"/>
										</div>
										<div class="col-md-3 effect_type">
											<img src="http://140.127.220.149/js_final/image/IE_13.jpg" data-src="image/IE_13.jpg"/>
										</div>
										<div class="col-md-3 effect_type">
											<img src="http://140.127.220.149/js_final/image/IE_14.jpg" data-src="image/IE_14.jpg"/>
										</div>
										<div class="col-md-3 effect_type">
											<img src="http://140.127.220.149/js_final/image/IE_15.jpg" data-src="image/IE_15.jpg"/>
										</div>
									</div>
								</div>
							</div>
							
                        </div> 
                        <form method="post" action="http://140.127.220.149/js_final/send_edit_image.php">
							<div id="write_layout">
								<input type="text" name="input_type" class="input_type" value="" hidden/>
								<input type="text" name="input_write" id="input_write" class="input_write" placeholder="請輸入想加上的字...">
								<input type="submit" hidden/>
							</div>
						</form>
                </div>
        </div>
    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/all.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>

<script>
	$('.effect_type').on('click', function() {
		$('.effect_type').removeClass('type_selected');
		$(this).addClass('type_selected');
		$('.input_type').val($('.type_selected > img').data('src'));
	});
</script>

    