<% layout('layout') %>
<body>
    <div id="wrapper">
        <div id="header">
            <a href="/"><span>3姑6婆</span></a>
            <%
                if(redir==1){
            %>
                    <script>location.href='/room_list'</script>
            <%
            	}
            %>
        </div>
        <div id="container">
            <div id="banner_wrapper">
                <div id="banner">
                    <div id="banner_left">
                            <div id="banner_info">
                                <h2>未來的好姊妹</h2><br><h2>X</h2><br>
                                <h2>未來的志同道合</h2>
                            </div>
                    </div>
                    <div id="banner_right" >
                        <h2>共同的聊天室</h2><br><h2>X</h2><br>
                        <h2>共同的興趣</h2>
                    </div>
                </div>
            </div> 
            <div id="main">
                <div class="form-group row" style="text-align:center;margin-left:45%;">     
                    <form action="/signin" method="post" style="margin-top:20px;">
                            <logintitle>登入</logintitle><br>&nbsp;<br>
                            <input type="text" class="form-control" name="account" placeholder="帳號" aria-describedby="sizing-addon2" ><br>
                            <input type="password" class="form-control" name="pwd" placeholder="密碼" aria-describedby="sizing-addon2">
                            <br>
                            <input type="submit" value="登入" onclick="javascript:location.href='main.html'" class="btn btn-primary btn-lg">
                            <a href="/pwdmiss"><input type="button" value="忘記密碼" class="btn btn-primary btn-lg" ></a><br><br>
                    </form>
                </div>         
            </div>
        </div>
        <div id="footer">
            <span>Copyright © 2017 NUKIM 3姑6婆 All rights reserved</span>
        </div>
    </div>   
</body>