<% layout('layout') %>
<body>
    <div id="wrapper">
        <div id="header">
            <a href="/"><span>3姑6婆</span></a>
        </div>
        <div id="container" style="margin-bottom:40px;">
            <div style="margin-top:100px;margin-left:20px;">
                <logintitle>請輸入您的E-mail帳號:</logintitle><br><br>
                <form action="/pwdmiss2" method="post">
                    <input type="text" name="email" class="form-control" style="width:350px;"><br><br>
                    <input type="submit" value="送出" class="btn btn-primary btn-lg">
                </form>
            </div>
        </div>
        <div id="footer">
            <span>Copyright © 2017 NUKIM 3姑6婆 All rights reserved</span>
        </div>
    </div>   
</body>